
* {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0px;
  margin: 0px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  width: 95%;
}

 #column-header{
  font-weight: bold;
  margin-top: 5px;
  border: black 1px solid;
 }

 @media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.fifth { width: 20%;}
  .column.flow-opposite { float: right; }  
}

.row {
  padding: .5rem 0 .5rem 0;
  border: black dotted 1px;

}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

input {
  max-width: 150px;
}

#rm img {
  width: 25px;
}
